doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Create New Features
    div
      form(method='post', action='/api/poles')
        div
          span Name:
          input#name
        div
          span Latitude:
          input#lat
        div
          span Longitude:
          input#lon
        div
          input(type='submit', value='Submit')
