doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Create New Features
    div
      form(method='post', action='/api/features')
        div
          span Name:
          input(type='text', autofocus='autofocus', id='name')
        div
          span Latitude:
          input(type='number', id='lat')
        div
          span Longitude:
          input(type='number', id='lon')
        div
          input(type='submit', value='Submit')
